<h1><%= @kitten.name %></h1>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %>/10</p>
<p>Softness: <%= @kitten.softness %>/10</p>

<%= link_to "Edit", edit_kitten_path(@kitten) %> |
<%= link_to "Delete Kitten", kitten_path(@kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
<%= link_to "Back to Index", kittens_path %>