<h1><%= @event.title %></h1>
<p><strong>Hosted by :</strong> <%= @event.creator.name %></p>
<p><strong>Location :</strong> <%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.date %></p>
<hr>

<h3>Attendees</h3>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.name %></li>
    <% end %>
</ul>
<% if user_signed_in? && !@event.attendees.include?(current_user)  && @event.upcoming? %>
    <%= button_to "Attend Event", event_attendances_path(event_id: @event.id), method: :post %>
<% end %>
<hr>

<%= link_to "All Events", events_path %>
